# Server Port - Backend
SERVER_PORT=your_server_port_number

# Client Port - Frontend
CLIENT_PORT=your_client_port_number

# Client URLs - Frontend
LOCAL_CLIENT_URL=your_local_client_url
PAGES_CLIENT_URL=your_remote_client_url